
@import "compass/css3/user-interface";

#nudge {
	float: right;
}

#controls {
	margin-left: 800px;
	width: 200px;
	height: 451px;
	border: 2px solid #CCC;

	hr {
		line-height: 26px;
	}

	.review {
		.steps {
			text-align: center;
			font-size: large;
		}

		span {
			padding: 2px 5px 1px;
			border: 1px solid #555;
			border-radius: 3px;
			cursor: pointer;
			@include user-select(none);

			&:hover {
				border-color: #AAA;
			}

			&.disabled {
				color: #AAA;
				border-color: #333;
				cursor: default;
			}
		}
	}

	#move_info {
		padding: 10px;
		word-wrap: break-word;
	}
}

#players {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 140px;
	height: 180px;
	background: #000;
	border: 3px solid #CCC;
	border-width: 3px 3px 0 0;
	overflow: hidden;
	white-space: nowrap;

	ul {
		margin-left: 30px;
	}

	li {
		text-align: left;
		border: 1px solid #777;
		margin-bottom: 2px;
		padding: 2px 3px;
		font-size: 12px;
		font-weight: bold;
		list-style: none outside none;

		&.host {
			border-color: #000;
			border-style: dashed;
		}

		&.me {
			border-color: #FFF;
		}

		/*&.waiting { list-style-image: url(../images/waiting.png); }*/
		&.trading { list-style-image: url(../images/trading.png); }
		&.placing { list-style-image: url(../images/placing.png); }
		&.attacking { list-style-image: url(../images/attacking.png); }
		&.occupying { list-style-image: url(../images/occupying.png); }
		&.fortifying { list-style-image: url(../images/fortifying.png); }
		&.resigned { list-style-image: url(../images/resigned.png); }
		&.dead { list-style-image: url(../images/dead.png); }
	}

	span.cards {
		display: inline;
		position: relative;
		z-index: 1;
		border: 0;
		font-weight: bold;
		background: transparent;
		padding: 0;
		font-size: inherit;
		color: inherit;
		cursor: text;

		&:after {
			content: ' - ';
		}
	}

	.red {
		color: #FFF;
		background: #E22;
	}
}


#dice {
	position: absolute;
	bottom: 0;
	left: 560px;
	z-index: 5;
	width: 54px;
	height: 81px;
	background: #000;
	border: 3px solid #CCC;
	border-bottom-width: 0;

	img {
		margin: 10px 2px;
	}

	div {
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		border: 1px solid #999;
	}

	.attack,
	.defend {
		border: 0;
		width: 27px;
		height: auto;
		float: left;
	}

	.attack-lost,
	.defend-lost {
		width: auto;
		height: auto;
	}
}


#action {
	padding: 5px;
	height: 200px;
	overflow: auto;

	p {
		margin: 0;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}

	label {
		width: auto;
	}

	#skip {
		float: right;
	}

	.resign {
		display: block;
		margin: 75px auto 0;

		&:hover {
			background: #C00;
			font-weight: bold;
		}
	}
}


#board {
	float: left;
	width: 800px;
	height: 449px;
	background: transparent url(../images/board.jpg) center center no-repeat;
	border: 3px solid #CCC;
	color: #000;
	position: relative;
	top: 0;
	left: 0;

	#next {
		position: absolute;
		width: 70px;
		height: 32px;
		overflow: visible;
		top: 396px;
		left: 291px;
		z-index: 2;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}

	span {
		display: block;
		position: absolute;
		z-index: 2;
		border: 1px solid #000;
		font-weight: bold;
		background: #999;
		padding: 1px 3px 2px;
		font-size: 10px;
		color: #FFF;
		cursor: pointer;
	}

	#sl01 { top:  45px; left:  40px; } /* Alaska */
	#sl02 { top:  90px; left: 110px; } /* Alberta */
	#sl03 { top: 210px; left: 140px; } /* Central America */
	#sl04 { top: 143px; left: 180px; } /* Eastern United States */
	#sl05 { top:  45px; left: 270px; } /* Greenland */
	#sl06 { top:  40px; left: 120px; } /* Northwest Territory */
	#sl07 { top:  95px; left: 165px; } /* Ontario */
	#sl08 { top:  95px; left: 225px; } /* Quebec */
	#sl09 { top: 160px; left: 115px; } /* Western United States */

	#sl10 { top: 340px; left: 200px; } /* Argentina */
	#sl11 { top: 305px; left: 245px; } /* Brazil */
	#sl12 { top: 300px; left: 175px; } /* Peru */
	#sl13 { top: 260px; left: 175px; } /* Venezuela */

	#sl14 { top: 120px; left: 320px; } /* Great Britain */
	#sl15 { top:  70px; left: 335px; } /* Iceland */
	#sl16 { top: 155px; left: 385px; } /* Northern Europe */
	#sl17 { top: 100px; left: 400px; } /* Scandinavia */
	#sl18 { top: 200px; left: 405px; } /* Southern Europe */
	#sl19 { top: 110px; left: 480px; } /* Ukraine */
	#sl20 { top: 185px; left: 340px; } /* Western Europe */

	#sl21 { top: 317px; left: 423px; } /* Congo */
	#sl22 { top: 310px; left: 470px; } /* East Africa */
	#sl23 { top: 245px; left: 430px; } /* Egypt */
	#sl24 { top: 370px; left: 495px; } /* Madagascar */
	#sl25 { top: 255px; left: 360px; } /* North Africa */
	#sl26 { top: 400px; left: 430px; } /* South Africa */

	#sl27 { top: 150px; left: 535px; } /* Afghanistan */
	#sl28 { top: 170px; left: 610px; } /* China */
	#sl29 { top: 235px; left: 575px; } /* India */
	#sl30 { top:  85px; left: 648px; } /* Irkutsk */
	#sl31 { top: 125px; left: 740px; } /* Japan */
	#sl32 { top:  60px; left: 710px; } /* Kamchatka */
	#sl33 { top: 235px; left: 485px; } /* Middle East */
	#sl34 { top: 128px; left: 670px; } /* Mongolia */
	#sl35 { top: 245px; left: 650px; } /* Siam */
	#sl36 { top:  80px; left: 595px; } /* Siberia */
	#sl37 { top: 115px; left: 555px; } /* Ural */
	#sl38 { top:  52px; left: 650px; } /* Yakutsk */

	#sl39 { top: 370px; left: 750px; } /* Eastern Australia */
	#sl40 { top: 310px; left: 665px; } /* Indonesia */
	#sl41 { top: 300px; left: 720px; } /* New Guinea */
	#sl42 { top: 345px; left: 685px; } /* Western Australia */
}


area {
	cursor: pointer;
}


#pathmarkers {
	div{
		background: transparent url(../images/path_marker.png) center center no-repeat;
		color: #000;
		height: 35px;
		line-height: 35px;
		position: absolute;
		text-align: center;
		display: none;
		width: 35px;
	}

	#pm01 { top:  45px; left:  44px; } /* Alaska */
	#pm02 { top:  90px; left: 114px; } /* Alberta */
	#pm03 { top: 210px; left: 144px; } /* Central America */
	#pm04 { top: 143px; left: 184px; } /* Eastern United States */
	#pm05 { top:  45px; left: 274px; } /* Greenland */
	#pm06 { top:  40px; left: 124px; } /* Northwest Territory */
	#pm07 { top:  95px; left: 169px; } /* Ontario */
	#pm08 { top:  95px; left: 229px; } /* Quebec */
	#pm09 { top: 160px; left: 119px; } /* Western United States */

	#pm10 { top: 340px; left: 204px; } /* Argentina */
	#pm11 { top: 305px; left: 249px; } /* Brazil */
	#pm12 { top: 300px; left: 179px; } /* Peru */
	#pm13 { top: 260px; left: 179px; } /* Venezuela */

	#pm14 { top: 120px; left: 324px; } /* Great Britain */
	#pm15 { top:  70px; left: 339px; } /* Iceland */
	#pm16 { top: 155px; left: 389px; } /* Northern Europe */
	#pm17 { top: 100px; left: 404px; } /* Scandinavia */
	#pm18 { top: 200px; left: 409px; } /* Southern Europe */
	#pm19 { top: 110px; left: 484px; } /* Ukraine */
	#pm20 { top: 185px; left: 344px; } /* Western Europe */

	#pm21 { top: 317px; left: 427px; } /* Congo */
	#pm22 { top: 310px; left: 474px; } /* East Africa */
	#pm23 { top: 245px; left: 434px; } /* Egypt */
	#pm24 { top: 370px; left: 499px; } /* Madagascar */
	#pm25 { top: 255px; left: 364px; } /* North Africa */
	#pm26 { top: 400px; left: 434px; } /* South Africa */

	#pm27 { top: 150px; left: 539px; } /* Afghanistan */
	#pm28 { top: 170px; left: 614px; } /* China */
	#pm29 { top: 235px; left: 579px; } /* India */
	#pm30 { top:  85px; left: 652px; } /* Irkutsk */
	#pm31 { top: 125px; left: 744px; } /* Japan */
	#pm32 { top:  60px; left: 714px; } /* Kamchatka */
	#pm33 { top: 235px; left: 489px; } /* Middle East */
	#pm34 { top: 128px; left: 674px; } /* Mongolia */
	#pm35 { top: 245px; left: 654px; } /* Siam */
	#pm36 { top:  80px; left: 599px; } /* Siberia */
	#pm37 { top: 115px; left: 559px; } /* Ural */
	#pm38 { top:  52px; left: 654px; } /* Yakutsk */

	#pm39 { top: 370px; left: 754px; } /* Eastern Australia */
	#pm40 { top: 310px; left: 669px; } /* Indonesia */
	#pm41 { top: 300px; left: 724px; } /* New Guinea */
	#pm42 { top: 345px; left: 689px; } /* Western Australia */
}


// these are already pretty clean, I think I'll just leave them as is

.gra { background-color: #999 !important; color: #FFF !important; }
.red { background-color: #E22 !important; color: #FFF !important; }
.blu { background-color: #36F !important; color: #FFF !important; }
.bla { background-color: #333 !important; color: #FFF !important; }
.bro { background-color: #963 !important; color: #FFF !important; }
.gre { background-color: #090 !important; color: #FFF !important; }
.yel { background-color: #DD3 !important; color: #000 !important; }
.pur { background-color: #609 !important; color: #FFF !important; }
.pin { background-color: #F9F !important; color: #000 !important; }
.aqu { background-color: #0CC !important; color: #000 !important; }


.red.res { background-color: #FBC8C8 !important; color: #E04949 !important; }
.blu.res { background-color: #CCD9FF !important; color: #456AD7 !important; }
.bla.res { background-color: #CCCCCC !important; color: #333333 !important; }
.bro.res { background-color: #E5D9CC !important; color: #6A553E !important; }
.gre.res { background-color: #BFE5BF !important; color: #539C53 !important; }
.yel.res { background-color: #F3F3B8 !important; color: #A4A400 !important; }
.pur.res { background-color: #CAA6DB !important; color: #9B25D6 !important; }
.pin.res { background-color: #FFCCFF !important; color: #F63EF6 !important; }
.aqu.res { background-color: #CCFFFF !important; color: #4AE0E0 !important; }


/* history table spans */
.history .gra { background-color: transparent !important; color: #999 !important; }
.history .red { background-color: transparent !important; color: #E22 !important; }
.history .blu { background-color: transparent !important; color: #36F !important; }
.history .bla { background-color: transparent !important; color: #333 !important; }
.history .bro { background-color: transparent !important; color: #963 !important; }
.history .gre { background-color: transparent !important; color: #090 !important; }
.history .yel { background-color: transparent !important; color: #DD3 !important; }
.history .pur { background-color: transparent !important; color: #609 !important; }
.history .pin { background-color: transparent !important; color: #F9F !important; }
.history .aqu { background-color: transparent !important; color: #0CC !important; }

.history .attack    { color: #F00; font-weight: bold; }
.history .card      { color: #0FF; font-weight: bold; }
.history .fortify   { color: #9F0; font-weight: bold; }
.history .occupy    { color: #F0F; font-weight: bold; }
.history .place     { color: #0F0; font-weight: bold; }
.history .reinforce { color: #FF0; font-weight: bold; }
.history .trade     { color: #F90; font-weight: bold; }
.history .outcome   { color: #900; font-weight: bold; }
.history .defeat    { color: #900; font-weight: bold; }
.history .roll      { color: #33C; font-weight: bold; }
.history .value     { color: #F36; font-weight: bold; }

.history .winner td:first-child { color: #000; background-color: #0F0; font-weight: bold; }
.history .killed td:first-child { color: #000; background-color: #F00; font-weight: bold; }
.history .init   td:first-child { color: #000; background-color: #FFF; font-weight: bold; }
.history .next   td:first-child { color: #000; background-color: #DDD; font-weight: bold; }
.history .resign td:first-child { color: #FFF; background-color: #50A; font-weight: bold; }
