/*
	Game page specific colors
*/


$history_table_border: $border_med !default;
$history_active_back: #444 !default;

$review_border: #AAA !default;
$review_hover_border: #444 !default;
$review_disabled_text: #CCC !default;
$review_disabled_border: #DDD !default;


table.history td {
	border-bottom-color: $history_table_border;
}


table.history td.active {
	background-color: $history_active_back;
}


#controls {
	.review {
		span {
			border-color: $review_border;

			&:hover {
				border-color: $review_hover_border;
			}

			&.disabled {
				color: $review_disabled_text;
				border-color: $review_disabled_border;
			}
		}
	}
}

